body{
  background-color: rgb(247,247,247);
}


header{
  height: 75px;
  margin-top: -20px;
  padding-bottom: 30px;
}

.conteneur{
    width: 100%;
    height: 50%;
    background-image: url(web.jpg);
    background-repeat: no-repeat;
    background-position: center;
    }

h1{
  color: white;
  font-family: arial;
  padding-left: 38px;
}


.identite{
  width: 50%;
  height: 100px;
  background-color: rgb(162,195,9);
  border-radius: 25px;
  padding: 15px;
  margin: 5%;
  font-family: arial;
  font-weight: bold;
  padding-bottom: 30px;
}

.form-control{
  margin-left: 35px;
  }


#name{
  margin-left: 55px;
}

#tel{
  margin-left: 10px;
}

#mail{
  margin-left: 60px;
}

.choix{
  width: 50%;
  height: 400px;
  background-color: rgb(162,195,9);
  border-radius: 25px;
  padding: 15px;
  margin: 5%;
  font-family: arial;
}


li{
  list-style: none;
  color: white;
  padding-left: 25px;
  padding-bottom: 4px;
}

form{
  margin-left: 5%;
}

.choix input{
  background-color: white;
  color: rgb(162,195,9);
  margin-left: 55px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  text-decoration: none;
  font-weight: bold;
}

#button{
  margin-left: 266px;
  margin-top: 25px;
}

input:hover{
  background-color: rgb(8,44,70);
  color: white;
}

footer{
  width: 100%;
  height: 50px;
  background-color: rgb(8,44,70);
  margin-top: -70px;
  }

footer p{
  color: white;
  font-family: arial;
  font-size: 1em;
  /*font-style: italic;*/
  padding-top: 12px;
  padding-left: 5px;
}

span{
  font-style: italic;
}
